@import "tailwindcss";

:root {
  font-family: "Inter", sans-serif;
  --color-black: #0a0d1a;
  --color-white: #ffffff;
  --color-be: #D2B48C;
  --color-gray-dark: #333333;
  --color-be-light: #E7D7BD;
}

.modern-scroll::-webkit-scrollbar {
  width: 6px;
}

.modern-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.modern-scroll::-webkit-scrollbar-thumb {
  background: #D2B48C;
  border-radius: 999px;
}

.modern-scroll::-webkit-scrollbar-thumb:hover {
  background: #D2B48C;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background: #8f7757;
  border-radius: 999px;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes zoomIn {
  0% { transform: scale(0.85); opacity: 0; }
  100% { transform: scale(1); opacity: 1; }
}

.animate-fadeIn {
  animation: fadeIn 0.25s ease-out;
}

.animate-zoomIn {
  animation: zoomIn 0.35s cubic-bezier(.4,0,.2,1);
}
